@use "../utilities/mixins";
@use "../utilities/variable";

//CARDS de servicios
.cont_card{
    padding: 1em;
    background-color: variable.$color_Contenedor;
    @include mixins.grid_columnas_filas(1fr 1fr 1fr, 1fr 1fr ,center,center);
    
    .card{
        background-color: variable.$color_Contenedor;
        width: 95%;
        padding: 1em;
        margin: 10px;
        border-radius: variable.$radio_borde;
        box-shadow: variable.$box_sombra;
    }
}
