@use "../utilities/variable";

header {
    background-color: variable.$color_header;
    padding: 2rem 1rem;
    border-bottom: 2px solid black;

    .img_logo {
        width: 200px;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .menu-custom {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style: none;
        }

        a {
            font-size: 1.1rem;
            color: black;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                background-color: variable.$color_hover;
                color: white;
                padding: 0.7rem 1rem;
                border-radius: 1em;
            }

            &:focus {
                outline: 2px solid #000000;
                background-color: rgb(0, 158, 0);
                color: white;
                padding: 0.5em 1em;
                border-radius: 1em;
            }
        }
    }
}