/*AQUI EMPIEZA LA PERSONALIZACION*/
* {
  margin: 0;
  padding: 0;



}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

/*HEADER + MENU----------------------------------------------------------------------------------------------*/
.custom-header {
  background-color: rgb(174, 255, 143);
  padding: 2rem;
  border: 2px solid black;
}

.img_logo {
  width: 200px;
}

.logo {
  width: 100%;
  height: auto;
}

/* Menú personalizado */
.menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 0;
  margin-bottom: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: rgb(87, 175, 0);
  color: white;
  padding: 1rem;
  border-radius: 1em;
}

.menu a:focus {
  outline: 2px solid #021829;
  background-color: rgb(87, 175, 0);
  color: black;
  padding: 0.5em 1em;
  border-radius: 1em;
}

/* Mobile: menú vertical */
@media (max-width: 990px) {
  .img_logo {
    width: 50%;
  }

  .logo{
    width: 100%;
    height: auto;
  }

  .menu a {
    font-size: 1.2rem;
    padding: 0.5em;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .nav-item {
    width: 100%;
  }
}

/*MAIN -------------- footer---------------------------------------------------------------------------*/
footer {
  background-color: rgb(158, 255, 119);
  color: rgb(0, 0, 0);
  padding: 2rem 1rem;
  border-top: 2px solid #000;
}

.conte_footer {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-radius: 22px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.redes {
  text-align: center;
  width: 60%;
  padding: 2em;
  margin-left: 200px;

}

.ubicacion {
  text-align: center;
  width: 60%;
  padding: 2em;
  margin-right: 200px;
}

.redes h3,
.ubicacion h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  margin-bottom: 0.5em;
}

.redes ul {
  list-style: none;
  padding: 0;
}

.redes li {
  margin: 22px;
}

.redes a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.redes a:hover {
  background-color: rgb(34, 128, 0);
  color: white;
  padding: 0.4em;
  border-radius: 0.5em;
}

.ubicacion address {

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.end_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;

}

.parrafo_f p {

  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.footer_logo {

  width: 200px;
}

.footer_logo img {
  width: 100%;
}


/*Diseño mobile-------------------------*/

@media screen and (max-width: 768px) {
  .conte_footer {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1.5em;
  }

  .redes,
  .ubicacion {
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
  }

  .redes h3,
  .ubicacion h3 {
    font-size: 1.6rem;
  }

  .redes a {
    font-size: 1.1rem;
  }

  .ubicacion address {
    font-size: 1.1rem;
  }

  .redes li {
    margin: 16px 0;
  }

  .end_footer {
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0;
  }

  .parrafo_f p {
    font-size: 20px;
    text-align: center;
  }

  .footer_logo {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 1rem 0.5rem;
    ;
  }

  .conte_footer {
    grid-template-columns: 1fr;
    /* 1 columna */
    gap: 1em;
    padding: 1em;
    text-align: center;
  }

  .redes,
  .ubicacion {
    width: 100%;
    margin: 0;
    padding: 1em 0.5em;
  }

  .redes h3,
  .ubicacion h3 {
    font-size: 20px;
  }

  .redes li {
    margin: 12px 0;
  }

  .redes a {
    font-size: 20px;
  }

  .ubicacion address {
    font-size: 16px;
  }

  .end_footer {
    margin-top: 22px;
    flex-direction: column;
    gap: 5px;
    padding: 0.5em;
  }

  .parrafo_f p {
    font-size: 20px;
    text-align: center;
  }

  .footer_logo {
    width: 180px;
  }
}

/*aqui termina la personalizacion del footer---------*/


/*MAIN  contenido principal DE INDEX------------------------------------------------------------------------------------*/


.inicio_h1 {
  color: rgb(0, 2, 0);
  padding: 2rem;
  font-size: 2.5rem;
  width: 100%;
  padding: 1em;
  border-radius: 22px;
}

.cont-inicio {
  background-color: rgb(196, 255, 173);
  padding: 1rem;
  border-radius: 22px;
  border: solid 2px black;
  margin-top: 22px;
}

.articulo-inicio-base-inicio {
  padding: 1rem;
  border-radius: 22px;
  box-shadow: 1px 5px 10px black;

}


.h3_inicio {
  font-size: 1.5rem;
  color: black;
  padding: 0.75rem;
  margin-top: 1em;

}

.parrafo_inicio {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 1rem;
  border-radius: 10px;

}


.img--inicio {
  justify-items: center;
}

/* Imagen */
.art_img {
  width: 80%;
  background-color: #0f0f0f;
  border-radius: 22px;

}

.art_img img {

  width: 100%;
  border-radius: 10px;
}

/*cONTENIDO DE SERVICIO de IDEX*/

.list {
  padding: 1em;
  margin: 22px;
}

.list_li {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.img_servicio {
  width: 50%;
  justify-items: center;
}

.img_servicio figure {
  width: 80%;

}

.img_servicio img {
  width: 100%;
  border-radius: 22px;
  box-shadow: 0px 10px 10px black;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .inicio_h1 {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
  }

  .cont-inicio {
    padding: 1rem;
  }

  .articulo-inicio {
    padding: 0.3rem;
  }

  .h2_inicio {
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
  }

  .h3_inicio {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem;
    text-align: center;
  }

  .parrafo_inicio {
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: 1px;
  }

  .art_img {
    width: 100%;
    margin: 0 auto;
  }

  .art_img img {
    border-radius: 12px;
  }

  .img_servicio {
    width: 100%;
    padding: 1em 0;
  }

  .img_servicio figure {
    width: 100%;
  }

  .img_servicio img {
    width: 100%;
    border-radius: 16px;
  }
}


/*Diseño mobile*/
@media screen and (max-width: 480px) {

  .inicio_h1 {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
  }

  .cont-inicio {
    padding: 1rem;
  }

  .articulo-inicio {
    padding: 0.3rem;
  }

  .h2_inicio {
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
  }

  .h3_inicio {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem;
    text-align: center;
  }

  .parrafo_inicio {
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    margin: 1px;
  }
}

/*CONTENIDO PRINCIPAL DE SERVICIOs--------------------------------------------------------------------------------------*/


/*Diseño de escritorio*/

.contenedor_s {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;


}

.h1--general {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 2em;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0px 5px 10px black;

}

/*SECTION 1*/
.intro_servicios {
  width: 95%;
  padding: 2em;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;
  border-radius: 22px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.h2_servicio {

  padding: 1em;
  font-size: 1.8rem;
  margin-top: 22px;
  text-align: center;
  box-shadow: 0px 5px 10px black;
  background-color: rgb(209, 255, 192);
  border-radius: 22px;

}

.parrafo_servicio {
  font-size: 1.2rem;
  padding: 1.5em;
  text-align: center;

}

.c-img-servicios {
  margin-top: 22px;
  background-color: rgb(187, 255, 155);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  ;
  justify-items: center;
  border-radius: 22px;
}

.img_servicios {
  width: 70%;

}

.img_servicios img {
  width: 100%;
  border-radius: 22px;

}


/*SECTION 2*/
.bloque_servicios {

  width: 90%;
  padding: 2em;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;
  border-radius: 22px;
  justify-items: center;

}

.cont_card {
  padding: 1em;
  background-color: rgb(196, 255, 173);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 22px;

}

.servicio {
  width: 95%;
  background-color: rgb(196, 255, 173);
  padding: 1em;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px #000;
}

.h3_servicio {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: rgb(10, 36, 0);
  padding: 0.7em;
  color: rgb(6, 192, 0);
  border-radius: 22px;
}

.p_servicio {
  text-align: center;
  background-color: white;
  margin: 22px;
  font-size: 19px;
  padding: 0.5em;
  border: 2px solid black;
}

/*SECCION DE METODOLOGIAS*/
.metodologias {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;
  border-radius: 22px;
  gap: 20px;

}

.meto_info {
  background-color: rgb(196, 255, 173);
  padding: 3em;
  border-radius: 22px;
  box-shadow: 0px 4px 10px #000;

}

.meto_info a {
  padding: 0.3em;

  color: rgb(68, 0, 255);
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.meto_info a:hover {
  background-color: rgb(0, 255, 13);
  color: white;
  border-radius: 0.5em;
}

/*Diseño mobile*/
@media screen and (max-width: 768px) {

  /* Intro servicios */
  .contenedor_s {
    width: 100%;
  }

  .intro_servicios {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 2em;
    gap: 10px;
  }

  .tiutlo_contenedor {
    padding: 1em;
    margin: 0;
  }

  .h2_servicio {
    font-size: 1.5rem;
    text-align: center;
  }

  .img_servicios {
    width: 95%;
  }

  /* Servicios cards */
  .cont_card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1em 0;
  }

  .servicio {
    width: 90%;
    font-size: 16px;
    margin: 10px auto;
  }

  /* Metodologías */
  .metodologias {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .meto_info {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  .contenedor_s {
    width: 100%;
  }

  .h1--general {
    width: 100%;
    font-size: 25px;
    padding: 1em;
    text-align: center;

  }

  .intro_servicios {
    padding: 1em;
    gap: 15px;
  }

  .h2_servicio {
    width: 100%;
    padding: 1em;
    font-size: 1.3rem;
  }

  .parrafo_servicio {
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
  }

  .c-img-servicios {
    grid-template-columns: 1fr;

  }

  .img_servicios {
    width: 100%;
  }

  .bloque_servicios {
    width: 100%;
  }

  .h2_servicio {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
  }

  .cont_card {
    padding: 0.5em 0;
  }

  .servicio {
    width: 100%;
    padding: 1.5em;
  }

  .h3_servicio {
    font-size: 1.1rem;
    padding: 1em;
  }

  .servicio p {
    font-size: 17px;
    margin: 10px;
    padding: 0.5em;
  }

  .metodologias {
    padding: 1em 0.5em;
    gap: 12px;
  }

  .meto_info {
    padding: 1em;
  }
}




/*Contenido principal de Nosotros*/

/*Diseno mobile ------------------------*/
@media (max-width: 430px) {
  .contenedor_n {
    width: 100%;
  }

  .n_info {
    width: 100%;
  }

  .art_ninfo {
    padding: 1.5rem;
  }

  .h2_nosotros {
    font-size: 1.3rem;
    text-align: center;
  }

  .parrafo_nosotros {
    font-size: 1rem;
    text-align: center;
  }

  .mision_info {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .m_card {
    padding: 1.2rem;
  }

  .card_h3 {

    font-size: 1.25rem;
    padding: 0.8rem;
  }

  .cont_equipo {

    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .art_equipo {
    padding: 2rem;
  }

  .art_equipo .parrafo_nosotros {
    text-align: left;
    padding: 0.3rem;
  }

}

/*contenido principal de Clientes----------------*/
.contenedor_c {
  padding: 1.5em;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;

  border-radius: 22px;

}

.h2_clientes {
  margin: 22px;
  padding: 1.5em;
  font-size: 1.5rem;
  color: black;
  border-radius: 22px;
  background-color: rgb(178, 255, 147);
  box-shadow: 0px 5px 10px black;
}

.contenedor-clientes {
  padding: 1em;
}

.clientes {
  background-color: rgb(7, 45, 0);
  padding: 1em;
  border-radius: 10px;
}

.parrafo_cliente {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 2px solid black;
  font-size: 1.3rem;
}

.end_servicio {
  padding: 0.5em;
  box-shadow: 0px 5px 10px black;
  border-radius: 22px;
}

@media screen and (max-width: 480px) {
  .clientes {
    padding: 1rem;
    border-radius: 22px;

  }

  .h2_clientes {
    font-size: 1.3rem;
    text-align: center;

  }

  .parrafo_cliente {
    font-size: 1rem;
  }

  .p_final {
    width: 90%;
  }
}


/*Aqui empieza la personalizacion de contacto*/
.contenedor_contact {
  background-color: rgb(196, 255, 173);
  padding: 1em;
  border: 2px solid black;
  border-radius: 22px;
  justify-items: center;
}

.h2_contacto {
  padding: 1em;
  font-size: 1.8rem;
}

.parrafo_contacto {
  margin-top: 25px;
  background-color: rgb(178, 255, 148);
  padding: 1em;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 22px;
}

/*BENEFICIOS Y FORMULARIO*/
.cont-beneficios-form {
  width: 100%;
  align-items: center;
  padding: 2rem;
  border-radius: 22px;
  border: 1px solid black;
  margin: 22px;
}

.beneficios_contacto {
  width: 100%;
  justify-items: center;
  padding: 1em;
  border-radius: 22px;

}

.cont-formulario {
  justify-items: center;
}

.formulario_contacto {
  width: 100%;
  border-radius: 22px
}

/*Contacto a whatsapp*/
.cont-end-contacto {
  padding: 1em;
  border-radius: 22px;
  text-align: center;
  border: 1px solid black;
}

.boton-whatsapp {
  padding: 0.6em;
  border-radius: 22px;
  box-shadow: 0px 5px 10px black;
  background-color: green;
  color: white;
  text-decoration: none;
}

.boton-whatsapp:hover {
  background-color: rgb(9, 216, 9);
  color: white;
}


@media screen and (max-width: 480px) {
  .beneficios_contacto {
    text-align: center;
  }
}