@use "../utilities/mixins";
@use "../utilities/variable";

.contenedor_c
{   
    
    padding: 3em;
    background-color: variable.$color_Contenedor;
    border: variable.$border_contenedor;
    border-radius: variable.$radio_borde;
    margin-top: 50px;
    margin-bottom: 50px;
    .contenedor-clientes
    {
        padding: 2em;

        .clientes{
            background-color: rgb(255, 255, 255);
            border-radius: variable.$radio_borde;
            box-shadow: variable.$box_sombra;

            .h3_clientes{
                color: green;
                font-size: 1.8rem;
                padding: 0.6em;
                border-radius: variable.$radio_borde;
                border: variable.$border_contenedor;
            }
            .parrafo_cliente{
                padding: 0.2em;
                font-size: 1.1rem;
            }
        }

    }
    
    .end_cliente{
        border-radius: variable.$radio_borde;
        box-shadow: variable.$box_sombra;
    }
}