@use "../utilities/mixins";
@use "../utilities/variable";

.cont_contact
{   
    width: 100%;
    background-color: variable.$color_Contenedor;
    padding: 3em;
    border: variable.$border_contenedor;
    border-radius: variable.$radio_borde;
    margin-top: 50px;
    margin-bottom: 50px;
 
    .parrafo_contacto{
        margin-top: 25px;
        background-color: rgb(178, 255, 148);
        padding: 1em;
        font-size: 1.3rem;
        text-align: center;
        border-radius: variable.$radio_borde;
    }
    .cont-beneficios-form
    {
        width: 100%;
        padding: 2rem;
        border-radius: variable.$radio_borde;


        .beneficios_contacto{
            width: 100%;
            padding: 1em;
        }
        .cont-formulario{

            .formulario_contacto{
                border: 2px solid   black;
                width: 100%;
                border-radius: variable.$radio_borde;
                color: rgb(0, 0, 0);
                box-shadow: variable.$box_sombra;
                margin-left: 10px;
               


                .cont-boton-form{
                    text-align: center;
                }
            }

        }
      
    }
    .cont-end-contacto{
        text-align: center;
    }
}