@use "../utilities/mixins";
@use "../utilities/variable";

.cont_contact
{
    background-color: variable.$color_Contenedor;
    padding: 3em;
    border: variable.$border_contenedor;
    border-radius: variable.$radio_borde;
    align-items: center;
    justify-items: center;

    .parrafo_contacto{
        margin-top: 25px;
        background-color: rgb(178, 255, 148);
        padding: 1em;
        font-size: 1.3rem;
        text-align: center;
        border-radius: variable.$radio_borde;
    }
    .cont-beneficios-form
    {
        width: 100%;
        padding: 2rem;
        border-radius: variable.$radio_borde;
        border: variable.$border_contenedor;
        

        .beneficios_contacto{
            width: 100%;
            padding: 1em;
        }
        .cont-formulario{
            justify-items: center;
            
            .formulario_contacto{
                width: 100%;
                border-radius: variable.$radio_borde;
            }
        }
      
    }
    .cont-end-contacto{
        text-align: center;
    }
}