@use "../utilities/mixins";
@use "../utilities/variable";

.contenedor_n
{
    width: 100%;
    background-color: white;
    padding: 2rem;
    @include mixins.flex(column, center, center, 1rem);

        .n_info
        {
            width: 100%;
            background-color: variable.$color_Contenedor;
            padding: 2rem;
            border-radius: variable.$radio_borde;
            border: variable.$border_contenedor;
            @include mixins.flex(column, none, center, 1rem);

                .art_ninfo
                {
                    width: 100%;
                    padding: 3rem;
                    border-radius: variable.$radio_borde;
                    box-shadow: variable.$box_sombra;
                    
                }
        }

        .cont_card
        {
            border-radius: variable.$radio_borde;
            border: variable.$border_contenedor;

            @include mixins.grid_columnas_filas(1fr 1fr 1fr, 1fr ,center,center);

            .card{

                background-color: variable.$color_Contenedor;

                &_h3{

                    text-align: center;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    box-shadow: 0px 10px 2px 2px rgb(21, 54, 0);
                    padding: 1rem;
                    border-radius: 1rem;
                }
            } 
   
        }

        .cont_mision{
            @include mixins.grid_columnas(1fr 1fr ,center);
            gap: 20px;
           
            .art_mision{
                padding: 1em;
                border-radius: variable.$radio_borde;
                box-shadow: variable.$box_sombra;
            }
        }



        .cont_equipo
        {   
            width: 100%;
            padding: 2em;
            background-color: variable.$color_Contenedor;
            border-radius: variable.$radio_borde;
            border: variable.$border_contenedor;

            .cont_art_img{
                background-color: rgb(255, 255, 255);
                padding: 1em;
                @include mixins.grid_columnas(1fr 1fr ,center);
                align-items: center;
                border-radius: variable.$radio_borde;
                box-shadow: variable.$box_sombra;

                .img_equipo{
                    width: 90%;

                    img{
                        width: 100%;
                        border-radius: variable.$radio_borde;
                    }
                }
            }
        }
       
        
}