@use "../utilities/mixins";




//mobile Header
@media screen and (max-width: 990px) {
header { 
        .img_logo {
            width: 50%;
        }
        .logo {
            width: 100%;
            height: auto;
        }
        .menu-custom {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 5px;

        a {
            font-size: 1rem;
            padding: 0.5em;
        }
        }
        .nav-item {
            width: 100%;
        }
  }
}


//Mobile de footer
@media screen and (max-width: 900px){

    footer{
        .conte_footer{
            grid-template-columns: 1fr;
            gap: 1rem;
            padding: 1em;
            text-align: center;
            justify-items: center;
            
            .redes,
            .ubicacion{
                width: 100%;
                margin: 0;
                padding: 1.5em;
            }

            .redes h3,
            .ubicacion h3{
                font-size: 1.6rem;
            }
            .redes li{
                margin: 12px;
            }
            .redes a{
                font-size: 1.1rem;
            }
            .ubicacion address{
                font-size: 1.1rem;
            }
            .end_footer{
                margin-top: 22px;
                flex-direction: column;
                gap: 0.5em;
                padding: 1em;
                text-align: center;
            }
            .footer_logo{
                width: 180px;
            }
            
        }
    }
}
@media screen and (max-width: 480px){

    footer{

        padding: 1rem 0.5rem;
        .conte_footer{
            grid-template-columns: 1fr;
            gap: 1em;
            padding: 1em;
            text-align: center;
            
            .redes,
            .ubicacion{
                width: 100%;
                margin: 0;
                padding: 1em 0.5em;
            }

            .redes h3,
            .ubicacion h3{
                font-size: 1.5rem;
            }
            .redes li{
                margin: 12px;
            }
            .redes a{
                font-size: 1.1rem;
            }
            .ubicacion address{
                font-size: 1rem;
            }
            .end_footer{
                margin-top: 22px;
                flex-direction: column;
                gap: 5px;
                padding: 0.5em;
                text-align: center;
            }
            .footer_logo{
                width: 180px;
            }
            
        }
    }
}




// Versión para Tablets (768px a 991px)
@media screen and (min-width: 768px) and (max-width: 900px) {

    .cont-inicio {
        padding: 1.5rem; 

        .art-contenido{
            width: 100%;
        }
        .inicio_h1 {
            font-size: 2.2rem;
            padding: 1rem 0;
            text-align: center;
        }

        .h2_inicio {
            font-size: 1.8rem;
            padding: 1rem 0;
            text-align: center;
        }

        .h3_inicio {
            font-size: 1.6rem;
            text-align: center;
        }

        .parrafo_inicio {
            font-size: 1.3rem;
            text-align: left;
            padding: 1rem;
        }
        
        
        .articulo-inicio {
            padding: 1rem;
            display: flex; 
            flex-direction: column; 
            align-items: center;

         
            .col-md-7 {
                width: 100%; 
                margin-bottom: 1.5rem;
            }
            
           
            .col-md-9 {
                width: 80%; 
                margin-top: 1rem;
            }
        }
        

        .row.align-items-center {
            margin-bottom: 2rem;
        }
        

        .list {
            padding-left: 1.5rem;
            text-align: left;
        }
        
        .list_li {
            font-size: 1.2rem;
            padding: 0.3rem 0;
        }


        .img_servicio {
            width: 90%;
            margin: 1.5rem auto;

            figure {
                img {
                    width: 100%;
                }
            }
        }
    }
}

//Version de mobile del index 
@media screen and (max-width: 767px) {

    .cont-inicio {
        padding: 2rem; 
        
        // Títulos
        .inicio_h1 {
            font-size: 1.8rem; 
            padding: 1rem;
            text-align: center;
        }

        .h2_inicio {
            font-size: 1.7rem; 
            padding: 1rem 0;
            text-align: center;
        }

        .h3_inicio {
            font-size: 1.3rem;
            padding: 0.5rem;
            text-align: center;
        }

        .parrafo_inicio {
            font-size: 1.2rem;
            padding: 1rem;
            margin: 0; 
            text-align: justify; 
        }


        .articulo-inicio {
            padding: 1rem 0; 
            text-align: center;
            align-items: center;
        }
        
        // Imagen principal
        .img--inicio {
            .art_img {
                width: 90%; 
                margin: 0 auto; 

                img {
                    width: 100%; 
                    border-radius: 12px;
                }
            }
        }

        
        .img_servicio {
            width: 100%; 
            padding: 1em 0;
            
            figure {
                width: 100%;
                img {
                    width: 100%;
                    border-radius: 16px;
                }
            }
        }
        
        // Listas
        .list {
            
            padding-left: 1.5rem; 
            text-align: left;
        }

        .list_li {
            font-size: 1.2rem; 
            padding: 0.3rem 0;
        }
    }
}
// TABLETS DE SERVICIOS
// Usamos el breakpoint de Bootstrap 'md' para una mejor compatibilidad.
@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .contenedor_s {
        padding: 1.5rem; // Padding general para un mejor espaciado.

        .intro_servicios {
            width: 100%; // Ocupa todo el ancho.
            padding: 1rem;

        }

        .bloque_servicios {
            padding: 1rem;

            .h3_servicio {
                font-size: 2rem; // Aumentamos el tamaño de la fuente para tablets.
                padding: 1.5rem 0;
                text-align: center;
            }

            .parrafo_general1, .p_servicio {
                font-size: 1.1rem; // Ajustamos el tamaño del párrafo.
                text-align: justify;
                padding: 0.5rem;
            }

            .p_servicio {
                text-align: center;
            }

            .cont_card {

                @include mixins.grid_columnas_filas(1fr 1fr, auto auto, center, center);
                gap: 18px ;
                .card {
                  width: 100%; // El ancho se ajusta automáticamente a la columna.
                    padding: 1rem;
                    
                }
            }
        }

        .metodologias {
            padding: 1.3rem; // Padding para separar la sección.

            @include mixins.grid_columnas(1fr 1fr, center);

            .meto_info {
                padding: 1.5rem;
            }
        }
    }
}
//MOBILE DE SERVICIOS
@media screen and (max-width: 767px){

    .contenedor_s
    {
    
        padding: 0em;

            .intro_servicios
            {
                width: 96%;
                padding: 1em;

                .c-img-servicios{
                    @include mixins.grid_columnas(1fr, center);

                    .img_servicios{
                        width: 100%;

                    }
                }
            }

            .bloque_servicios{
                width: 100%;
                padding: 0.5em;

                .h3_servicio{

                    padding: 1rem;
                }
                .parrafo_general1{
                    padding: 0.5em;
                }
                .p_servicio{
                    padding: 1em;
                    text-align: center;
                }

                    .cont_card
                    {
                        @include mixins.grid_columnas_filas(1fr,none,center,center);

                            .card
                            {
                                width: 100%;
                                padding: 1.2em;
                                margin: 10px;
                                
                            }
                    }

            }
            .metodologias{
                width: 97%;
                padding: 1em;
                @include mixins.grid_columnas(1fr, none);
                .meto_info{
                    padding: 1em;
                }
            }


    }
}




// TABLETS DE NOSOTROS
// Usamos el breakpoint de Bootstrap 'md' para mejor compatibilidad.
@media screen and (min-width: 768px) and (max-width: 991px) {

    .contenedor_n {
        padding: 1rem; // Aumentamos el padding para un mejor espaciado en tabletas.
        
        // Estilos generales para el texto
        .h2--general {
            font-size: 2rem; // Aumentamos el tamaño de los títulos.
            text-align: center;
        }

        .parrafo_general2, .parrafo_nosotros {
            font-size: 1.2rem; // Tamaño de fuente más grande para mejor lectura.
            padding: 1rem 0;
            text-align: center;
        }


        // Sección de tarjetas
        .cont_card {
            padding: 1.5rem;
            // Aquí usamos tu mixin para crear un diseño de 2 columnas en tabletas.
            @include mixins.grid_columnas_filas(1fr, none, center, center);
            gap: 1.5rem; // Espacio entre las tarjetas.

        }

        // Sección de Misión y Visión
        .cont_mision {
            // Asumiendo que tu HTML tiene dos elementos, usamos Grid
            // para colocarlos uno al lado del otro.
            @include mixins.grid_columnas(1fr, center);
            gap: 2rem;
            padding: 1rem;
            .art_mision{
                width: 100%;
                padding: 2rem;
                text-align: center;
            }
        }
        
        // Sección del equipo
        .cont_equipo {
            width: 100%;
            padding: 1rem;

            .cont_art_img {
                // Si esta sección contiene una imagen y texto, este es el lugar
                // para crear un diseño de dos columnas.
                @include mixins.grid_columnas(1fr 1fr, center);
                gap: 1.5rem;
                padding: 1rem;

                .img_equipo {
                    width: 100%;
                }
            }
        }
    }
}

//MOBILE DE NOSOTROS
@media screen and (max-width: 767px) {

    .contenedor_n
    {
        width: 100%;
        padding: 1em;


            .h2--general{
                width: 100%;
                text-align: center;
            }
            .parrafo_general2{
                text-align: center;
                padding: 1em;
                font-size: 1.1rem;
            }
            .parrafo_nosotros{
                text-align: center;
                padding: 0.5em;
                font-size: 1.1rem;
            }

            .n_info{
                width: 100%;
                padding: 1rem;

                    .art_ninfo{
                        padding: 1rem;

                    }
            }
            .cont_card{
                padding: 0.5em;
                @include mixins.grid_columnas_filas(1fr, none ,center,center);
            }
            .cont_mision{
                @include mixins.grid_columnas(1fr,center);
            }
            

            .cont_equipo
            {
                width: 100%;
                padding: 0.5em;

                .cont_art_img
                {
                    @include mixins.grid_columnas(1fr,center);
                    gap: 0px;

                    .img_equipo{
                        width: 100%;
                    }
                }
            }
    }
}

//MOBILE DE CLIENTE 
@media screen and (min-width: 430px) and (max-width: 729px){
    .contenedor_c{
        padding: 2em;

        .h2--general{
            font-size: 1.4rem;
            text-align: center;
        }
        .h2_clientes{
            text-align: center;
        }
        .parrafo_cliente{
            text-align: center;
        }
        .contenedor-clientes{
            padding: 1em;
        }
    }
}



//MOBILE DE CONTACTO----------------------------------------------------------
@media screen and (min-width: 430px) and (max-width: 729px) {

     .cont_contact
     {
        padding: 1em;
            
            .parrafo_contacto{
                padding: 0.7em;
                font-size: 1.1rem;
            }
            .cont-beneficios-form
            {
                padding: 0em;

                .beneficios_contacto
                {
                    padding: 0em;

                    .h2_contacto{
                        padding: 1em;
                        text-align: center;
                    }
                }

                .cont-formulario{
                    padding: 1em;
                    margin-bottom: 22px;
                }

            }
     }
}
