$color_Contenedor: rgb(196, 255, 173);
$color_header: rgb(174, 255, 143);            
$color_hover:rgb(70, 139, 0);
$color_footer: rgb(158, 255, 119);
$color_h3: rgb(10, 36, 0);
$size_parrafo: 1.3rem;
$radio_borde: 22px;
$box_sombra: 0px 5px 10px black;
$border_contenedor: 2px solid black;

