
/*AQUI EMPIEZA LA PERSONALIZACION*/
*{
    margin: 0;
    padding: 0;
    

    
}
h1 ,h2,h3{
    font-family: "Montserrat", sans-serif;
}
p{
    font-family:  "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');







/*HEADER + MENU----------------------------------------------------------------------------------------------*/
.custom-header {
  background-color: rgb(174, 255, 143);
  padding: 2rem; 
  border: 2px solid black;
}

.img_logo {
  width: 200px;
}

.img_logo img {
  width: 100%;
  height: auto;
}

/* Menú personalizado */
.menu {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left: 0;
  margin-bottom: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: rgb(87, 175, 0);
  color: white;
  padding: 1rem;
  border-radius: 1em;
}

.menu a:focus {
  outline: 2px solid #021829;
  background-color: rgb(87, 175, 0);
  color: black;
  padding: 0.5em 1em;
  border-radius: 1em;
}

/* Mobile: menú vertical */
@media (max-width: 990px) {
  .img_logo {
  width: 50%;
}

.img_logo img {
  width: 100%;
  height: auto;
}
.menu a{
  font-size: 1.2rem;
  padding: 0.5em;
}
.menu {
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  
  .nav-item{
    width: 100%;
  }
}



/*MAIN -------------- footer---------------------------------------------------------------------------*/
footer {
  background-color: rgb(158, 255, 119);
  color: rgb(0, 0, 0);
  padding: 2rem 1rem;
  border-top: 2px solid #000;
}
.conte_footer{
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-radius: 22px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}

.redes{
    text-align: center;
    width: 60%;
    padding: 2em;
    margin-left: 200px;
  
}
.ubicacion{
    text-align: center;
    width: 60%;
    padding: 2em;
    margin-right: 200px;
}

.redes h3, .ubicacion h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  margin-bottom: 0.5em;
}

.redes ul {
  list-style: none;
  padding: 0;
}

.redes li {
    margin: 22px;
}

.redes a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.redes a:hover {
  background-color: rgb(34, 128, 0);
  color:  white;
  padding: 0.4em;
  border-radius: 0.5em;
}

.ubicacion address {
 
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.end_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
 
}
.parrafo_f p {

    font-size: 25px;
    font-family: "Roboto", sans-serif;
}
.footer_logo{

    width: 200px;
}
.footer_logo img{
    width: 100%;
}


/*Diseño mobile-------------------------*/

@media screen and (max-width: 768px) {
  .conte_footer {
    grid-template-columns: 1fr; 
    gap: 2rem;
    padding: 1.5em;
  }

  .redes, .ubicacion {
    width: 100%;
    margin: 0 auto;
    padding: 1.5em;
  }

  .redes h3, .ubicacion h3 {
    font-size: 1.6rem;
  }

  .redes a {
    font-size: 1.1rem;
  }

  .ubicacion address {
    font-size: 1.1rem;
  }

  .redes li {
    margin: 16px 0;
  }

  .end_footer {
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0;
  }

  .parrafo_f p {
    font-size: 20px;
    text-align: center;
  }

  .footer_logo {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 1rem 0.5rem;;
  }

  .conte_footer {
    grid-template-columns: 1fr; /* 1 columna */
    gap: 1em;
    padding: 1em;
    text-align: center;
  }

  .redes,
  .ubicacion {
    width: 100%;
    margin: 0;
    padding: 1em 0.5em;
  }

  .redes h3,
  .ubicacion h3 {
    font-size: 20px;
  }

  .redes li {
    margin: 12px 0;
  }

  .redes a {
    font-size: 20px;
  }

  .ubicacion address {
    font-size: 16px;
  }

  .end_footer {
    margin-top: 22px;
    flex-direction: column;
    gap: 5px;
    padding: 0.5em;
  }

  .parrafo_f p {
    font-size: 20px;
    text-align: center;
  }

  .footer_logo {
    width: 180px;
  }
}
/*aqui termina la personalizacion del footer---------*/


/*MAIN  contenido principal DE INDEX------------------------------------------------------------------------------------*/


.inicio_h1{
    color: rgb(0, 2, 0);
    padding: 2rem;
    font-size: 2.5rem;
    width: 100%;
    padding: 1em;
    border-radius: 22px;
}
.cont-inicio{
  background-color: rgb(196, 255, 173);
  padding: 1rem;
  border-radius: 22px;
  border: solid 2px black;
}

.articulo-inicio{
    padding: 1rem;
    border-radius: 22px;
    box-shadow: 1px 5px 10px black;
   
}
.contenido h2 {

    width: 100%;
    border-radius: 22px;
    padding: 1em;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 10px #000;
}

.contenido h3 {
    font-size: 1.6rem;
    color:  black;
    padding: 0.75rem;
    margin-top: 1em;
    
}

.contenido p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 1rem;
    border-radius: 10px;
     
}


.art-img-inicio{
    justify-items: center;
}
/* Imagen */
.art_img {
    width: 90%;
    background-color: #0f0f0f;
    border-radius: 22px;
  
}
.art_img img {
    width: 100%;
    border-radius: 10px;
}



/*cONTENIDO DE SERVICIO de IDEX*/
.cont-servicio{
  margin-top: 10px;
  margin-bottom: 10px;
 padding: 2rem;
 background-color: rgb(196, 255, 173);
 border-radius: 22px;
 border: solid 2px black;
}



.info_servicio h2 {
    font-size: 2rem;
    color:  black;
    padding: 1rem;
    margin-bottom: 10px;
}
.info_servicio p{
  padding: 1em;
  font-size: 1.3rem;
}

.list ul{
  padding: 1em;
  margin: 22px;
}
.list li {
    margin-bottom: 1rem;
    line-height: 1.4;
}
.img_servicio{
  width: 50%;
  justify-items: center;
}
.img_servicio figure {
  width: 90%;
  

}
.img_servicio img{
  width: 100%;
  border-radius: 22px;
  box-shadow: 0px 10px 10px black;
  border: 2px solid black;
}

@media screen and (max-width: 768px) {
  .inicio_h1 {
    font-size: 2rem;
    padding: 1.5rem 1rem;
    text-align: center;
  }

  .cont-inicio {
    padding: 1.5rem;
  }

  .articulo-inicio {
    padding: 1.5rem;
  }

  .contenido h2 {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
  }

  .contenido h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.6rem;
  }

  .contenido p {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: justify;
  }

  .art-img-inicio {
    justify-items: center;
  }

  .art_img {
    width: 100%;
  }

  .art_img img {
    border-radius: 14px;
  }

  .cont-servicio {
    padding: 1.5rem;
  }

  .info_servicio h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }

  .info_servicio p {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: justify;
  }

  .list ul {
    padding: 1rem;
    margin: 16px;
  }

  .list li {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }

  .img_servicio {
    width: 80%;
    margin: 0 auto;
  }

  .img_servicio figure {
    width: 100%;
  }

  .img_servicio img {
    width: 100%;
    border-radius: 18px;
  }
}


/*Diseño mobile*/
@media screen and (max-width: 480px) {
  .inicio_h1 {
    font-size: 1.8rem;
    padding: 2rem;
    text-align: center;
  }

  .cont-inicio {
    padding: 1rem;
  }

  .articulo-inicio {
    padding: 2rem;
  }

  .contenido h2 {
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
  }

  .contenido h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
  }

  .contenido p {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .art_img {
    width: 100%;
    margin: 0 auto;
  }

  .art_img img {
    border-radius: 12px;
  }

  .cont-servicio {
    padding: 1rem;
  }

  .info_servicio h2 {
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
  }

  .info_servicio p {
    font-size: 1.1rem;
    padding: 0.8rem;
    text-align: center;
  }

  .list ul {
    margin: 10px;
    padding: 1rem;
  }

  .list li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .img_servicio {
    width: 100%;
    padding: 1em 0;
  }

  .img_servicio figure {
    width: 100%;
  }

  .img_servicio img {
    width: 100%;
    border-radius: 16px;
  }
}






/*CONTENIDO PRINCIPAL DE SERVICIOs--------------------------------------------------------------------------------------*/


/*Diseño de escritorio*/

.contenedor_s{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}
.intro_servicios h1 {
     width: 100%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px black;
    
}

/*SECTION 1*/
.intro_servicios{
    width: 95%;
    padding: 2em;
    background-color: rgb(196, 255, 173);
    border: 2px solid black;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}
.titulo_contenedor{
    padding: 2em;
    background-color: rgb(196, 255, 173);
    border-radius: 22px;
}
.titulo_contenedor h2{
    padding: 1em;
    font-size: 1.8rem;
    margin: 5px;
    text-align: center;
    

}
.titulo_contenedor p {
 font-size: 1.2rem;
    padding: 2em;
    border: 2px solid black;
  
}
.c-img-servicios{
  display: grid;
  grid-template-columns: 1fr 1fr;;
  justify-items: center;
}
.img_servicios{
    width: 70%;
 
}
.img_servicios img{    
        width: 100%;
        border-radius: 22px;
        box-shadow: 0px 5px 10px black;
}





/*SECTION 2*/
.bloque_servicios{
    
    width: 90%;
    padding: 2em;
    background-color: rgb(196, 255, 173);
    border: 2px solid black;
    border-radius: 22px;
    justify-items: center;

}
.bloque_servicios h2{
    width: 40%;
    background-color: rgb(186, 255, 146);
    text-align: center;
    padding: 0.5em;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    
}
.cont_card{
    padding: 1em;
    background-color: rgb(196, 255, 173);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 22px;
  
}
.servicio{
    width: 95%;
    background-color: rgb(196, 255, 173);
    padding: 1em;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #000;
}
.servicio h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: rgb(10, 36, 0);
    padding: 0.7em;
    color: rgb(6, 192, 0);
    border-radius: 22px;
}
.servicio p {
    text-align: center;
    background-color: white;
    margin: 22px;
    font-size: 19px;
    padding: 0.5em;
    border: 2px solid black;
}
/*SECCION DE METODOLOGIAS*/
.metodologias{
    max-width: 1200px;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(196, 255, 173);
    border: 2px solid black;
    border-radius: 22px;
    gap: 20px;

}
.meto_info{
    background-color: rgb(196, 255, 173);
    padding: 3em;
    border-radius: 22px;
    box-shadow: 0px 4px 10px #000;
    
}
.meto_info h2 {
    text-align: left;
    background-color: rgb(153, 250, 115);
       color: rgb(0, 0, 0);    
    font-size: 28px;
    padding: 1em;
    border-radius: 22px;
}
.meto_info p {
    padding: 1em;
    font-size: 22px;
}
.meto_info .list2{
    padding: 0.5em; 
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}
.list2 li{
    padding: 0.5em;
}
.list2 a{
    font-size: 22px;

}
.meto_info a{
  padding: 0.3em;

  color: rgb(68, 0, 255);
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}
.meto_info a:hover{
 background-color: rgb(0, 255, 13);
  color:  white;
  border-radius: 0.5em;
}

/*Diseño mobile*/
@media screen and (max-width: 768px) {
  /* Intro servicios */
  .intro_servicios {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 2em;
    gap: 10px;
  }

  .tiutlo_contenedor {
    padding: 1em;
    margin: 0;
  }

  .tiutlo_contenedor h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .tiutlo_contenedor p {
    font-size: 16px;
  }

  .img_servicios {
    padding: 1em;
  }

  /* Servicios cards */
  .cont_card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1em 0;
  }

  .servicio {
    width: 90%;
    font-size: 16px;
    margin: 10px auto;
  }

  .servicio h3 {
    font-size: 16px;
  }

  .servicio p {
    font-size: 16px;
    margin: 12px;
  }

  /* Metodologías */
  .metodologias {
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .meto_info {
    padding: 1em;
  }

  .meto_info h2 {
    font-size: 22px;
    text-align: center;
  }

  .meto_info p,
  .list2 li,
  .list2 a {
    font-size: 18px;
  }
}


@media screen and (max-width: 480px) {

  .contenedor_s h1 {
    font-size: 25px;
    padding: 1em;
  
  }

  .intro_servicios {
    padding: 1em;
    gap: 15px;
  }

  .tiutlo_contenedor h2 {
    width: 100%;
    padding: 1em;
    font-size: 1.8rem;
  }

  .tiutlo_contenedor p {
    font-size: 1.3rem;
    text-align: center;
  }
  .c-img-servicios{
    grid-template-columns: 1fr 1fr;

  }

  .img_servicios {
    width: 100%;
  }

  .bloque_servicios{
    width: 100%;
  }
  .bloque_servicios h2{
    text-align: center;
    width: 80%;
  }
  .cont_card {
    padding: 0.5em 0;
  }

  .servicio {
    width: 100%;
    padding: 1.5em;
  }

  .servicio h3 {
    font-size: 20px;
    padding: 1em;
  }

  .servicio p {
    font-size: 17px;
    margin: 10px;
    padding: 0.5em;
  }

  .metodologias {
    padding: 1em 0.5em;
    gap: 12px;
  }

  .meto_info {
    padding: 1em;
  }

  .meto_info h2 {
    font-size: 1.7rem;
  }

  .meto_info p,
  .list2 li,
  .list2 a {
    font-size: 1.3rem;
  }
  .list2{
    text-align: center;
    list-style: none;
  }

  .meto_info a {
    font-size: 16px;
  }
}




/*Contenido principal de Nosotros*/
.contenedor_n {
  width: 100%;
  background-color: #ffffff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Título principal */
.n_info h1 {
      width: 100%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px black;

}

/* Info principal */
.n_info {
  width: 90%;
  background-color: rgb(196, 255, 173);
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Artículo dentro de info */
.art_ninfo {
  width: 100%;
  max-width: 900px;
  background-color: rgb(196, 255, 173);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px #000;
}

.n_info h2 {
  font-size: 1.75rem;
  color: black;
  margin-bottom: 1rem;
  padding: 0.5em;
}

.n_info p {
  font-size: 1.125rem;
  color: black;
  padding: 0.5em;
}

/* Misión / visión en cards */
.mision_info {
  width: 97%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;
  border-radius: 1rem;
}

.m_card {
  background-color: rgb(202, 255, 182);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px #000;
}

.m_card h3 {
    text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 10px 2px 2px rgb(21, 54, 0);
  padding: 1rem;
  border-radius: 1rem;
}

.m_card p {
  font-size: 1.125rem;
  padding: 1rem;
  margin-top: 1rem;
}

.m_card ul {
  font-size: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.m_card li {
  padding: 0.5rem 0;
}



/*img EQUIPO*/

.img_equipo{
  background-color: rgb(196, 255, 173);
  width: 100%;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.img_equipo article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    border-radius: 22px;

}
.img_equipo figure{
    width: 70%;
    margin: 22px;
    box-shadow: 0px 5px 4px 3px rgb(4, 22, 0);
    background-color: black;
    border-radius: 22px;
}
.img_equipo figure img{
    width: 100%;
     border-radius: 22px;
}
.img_equipo div {
    text-align: center;
    width: 100%;
    padding: 2em;
    margin: 4px;
}
.img_equipo div p {
     font-size: 1.125rem;
     
}


/* Info equipo */
.m_equipo {
  width: 100%;
  max-width: 1500px;
  padding: 2rem;
  background-color: rgb(176, 255, 145);
  border: 2px solid black;
  border-radius: 1rem;
}

.cont_equipo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.art_equipo {
  background-color: rgb(196, 255, 173);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px #000;
}

.art_equipo h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.art_equipo p {
  font-size: 1.125rem;
  padding: 0.2em;
}

/* Final */
.p_final {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto 0 auto;
  background-color: transparent;
}
.p_final h2 {
    text-align: center;
    width: 100%;
    padding: 1em;
}

.p_final p {
  background-color: rgb(196, 255, 173);
  padding: 2rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px #000;
}

.p_final a {
  color: rgb(68, 0, 255);
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.p_final a:hover {
  background-color: rgb(24, 86, 0);
  color: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}


/*contenido principal de Clientes----------------*/

.contenedor_c{
  padding: 1.5em;
  background-color: rgb(196, 255, 173);
  border: 2px solid black;
 
  border-radius: 22px;

}
.h1_clientes{
     width: 100%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px black;
    
}
.h2_clientes{
  margin: 22px;
  padding: 2em;
  font-size: 1.5rem;
  color: black;
  border-radius: 22px;
  background-color: rgb(178, 255, 147) ;
}
.contenedor-clientes{
  padding: 1em;
}
.clientes{
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;



}
.clientes h2{
  padding: 0.7em;
  font-size: 1.5rem;
  background-color: rgb(178, 255, 147) ;
  color: rgb(0, 0, 0);
  border-radius: 22px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  
}
.clientes p {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 2px solid black;
  font-size: 1.3rem;
}

.p_final_s{
  text-align: center;
  padding: 1.3rem;
  font-size: 1.2rem;
  border-radius: 22px;
  box-shadow: 0px 4px 10px #000;
}
.boton_c{
  margin-left: 25px;
}



/*Aqui empieza la personalizacion de contacto*/
.contenedor_contact{

  background-color: rgb(196, 255, 173) ;
  padding: 1em;
  border: 2px solid black;
  border-radius: 22px;
}
.h1-p-contacto{
  padding: 1em;

}
.h1-p-contacto h1{
     width: 100%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 2em;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 5px 10px black;
}
.h1-p-contacto p {
  margin-top: 25px;
  background-color: rgb(178, 255, 148);
  padding: 1em;
  font-size: 1.4rem;
}
.cont-beneficios-contacto{
  justify-items: center;
  align-items: center;
}
.beneficios_contacto{
  width: 100%;
    justify-items: center;
    padding: 1em;

    border-radius: 22px;
}
.beneficios_contacto h2{
  padding: 1em;
  font-size: 1.8rem;
}
.lista_contacto li{
  font-size: 1.3rem;
  padding: 0.3rem;
}
.formulario_contacto{
  border-radius: 22px;
  box-shadow: 0px 5px 10px black;
}
.contacto_whatsapp{
  justify-items: center;
  padding: 1em;
  border-radius: 22px;
  box-shadow: 0px 5px 10px black;
}
.contacto_whatsapp p {
  padding: 1em;
  font-size: 1.3rem;
}
.frase_c_final{
  justify-items: center;
  padding: 1em;
  border-radius: 22px;
  box-shadow: 0px 5px 10px black;
}
.frase_c_final p {
    padding: 0.4em;
  font-size: 1.3rem;
}
